/* @import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap"); */

/* body {
  font-family: Arial, sans-serif;
} */

/* body {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Default styles */
body {
  background-color: #f8f9fa;
  color: #212529;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode styles */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.toggle i {
  font-size: 1.5rem;
}

/* header {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
} */

/* .navbar {
  justify-content: space-between;
} */

/* .gallery img {
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
} */

/* footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 50px 0;
} */

/* About .text-link {
  text-decoration: none;
  color: #333;
} */
